<div class="wrap">
    <h1 class="wp-heading-inline">模板</h1>

    <a href="/wp-admin/admin.php?page=zconfig_template&action=add" class="page-title-action">添加模板</a>

    <hr class="wp-header-end">

    <form method="get" action="/wp-admin/admin.php">
        
        <input type="hidden" name="page" value="zconfig_template">
        <p class="search-box">
        <label class="screen-reader-text" for="user-search-input">搜索模板:</label>
        <input type="search" id="user-search-input" name="name" value="<?=isset($_GET['name']) ? $_GET['name'] : ''?>">
        <input type="submit" id="search-submit" class="button" value="搜索模板"></p>


        <input type="hidden" id="_wpnonce" name="_wpnonce" value="<?=wp_create_nonce('zconfig_index')?>"><input type="hidden" name="_wp_http_referer" value="/wp-admin/admin.php?page=zconfig_template"> 
        <!--div class="tablenav top">

            <div class="alignleft actions bulkactions">
                <label for="bulk-action-selector-top" class="screen-reader-text">选择批量操作</label><select name="action" id="bulk-action-selector-top">
                    <option value="-1">批量操作</option>
                    <option value="delete">删除</option>
                </select>
                <input type="submit" id="doaction" class="button action" value="应用">
            </div>
            <br class="clear">
        </div-->
        <h2 class="screen-reader-text">用户列表</h2><table class="wp-list-table widefat fixed striped users">
            <thead>
                <tr>
                    <td id="cb" class="manage-column column-cb check-column"><label class="screen-reader-text" for="cb-select-all-1">全选</label><input id="cb-select-all-1" type="checkbox"></td>

                    <th scope="col" id="name" class="manage-column column-name">模板名称</th>
                    <th scope="col" id="code" class="manage-column column-code">模板标识</th>
                    <th scope="col" id="comment" class="manage-column column-comment">模板备注</th>
                    <th scope="col" id="multi" class="manage-column column-multi">模板类型</th>
                    <th scope="col" id="operator" class="manage-column column-operator">操作</th>
                </tr>
            </thead>
            <tbody id="the-list" data-wp-lists="list:user">

                <?php foreach($templateList as $template) {?>
                <tr id="tr-<?=$template->id?>">
                    <th scope="row" class="check-column"><label class="screen-reader-text" for="user_1">选择<?=$template->id?></label><input type="checkbox" name="templates[]" id="template-<?=$template->id?>" class="administrator" value="1"></th>
                    <td class="role column-name has-row-actions" data-colname="名称"><?=$template->name?>
                        <div class="row-actions">
                        </div>
                    </td>
                    <td class="role column-code" data-colname="代码"><?=$template->code?></td>
                    <td class="role column-comment" data-colname="备注"><?=$template->comment?></td>
                    <td class="role column-multi" data-colname="类型">
                        <?=$template->multi == 1 ? '多条' : '单条' ?>
                    </td>
                    <td class="role column-operator" data-colname="操作">
                        <a href="/wp-admin/admin.php?page=zconfig_index&code=<?=$template->code?>">查看</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/wp-admin/admin.php?page=zconfig_template&action=edit&id=<?=$template->id?>">编辑</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/wp-admin/admin.php?page=zconfig_template&action=delete&id=<?=$template->id?>">删除</a>
                    </td>
                </tr>   
                <?php } ?>
            </tbody>

        </table>
        <div class="tablenav bottom">
            <div class="tablenav-pages <?=$pageNum <= 1 ? 'one-page' : ''?>"><span class="displaying-num"><?=$templateCount?>个项目</span>

                <!--page start-->
                <span class="pagination-links">
                    <a class="first-page" href="<?=$homeUrl?>">
                        <span class="screen-reader-text">首页</span>
                        <span aria-hidden="true">«</span>
                    </a>
                    <a class="prev-page" href="<?=$preUrl?>">
                        <span class="screen-reader-text">上一页</span>
                        <span aria-hidden="true">‹</span>
                    </a>
                    <span class="screen-reader-text">当前页</span>
                    <span id="table-paging" class="paging-input">
                        <span class="tablenav-paging-text">第<?=$page?>页，共
                            <span class="total-pages"><?=$templateCount?></span>页</span>
                    </span>
                    <a class="next-page" href="<?=$nextUrl?>">
                        <span class="screen-reader-text">下一页</span>
                        <span aria-hidden="true">›</span>
                    </a>
                    <a class="last-page" href="<?=$lastUrl?>">
                        <span class="screen-reader-text">尾页</span>
                        <span aria-hidden="true">»</span>
                    </a>
                </span>
                <!--page end-->
                </div>
            <br class="clear">
        </div>
    </form>

    <br class="clear">
</div>
